page {
  background: #fff;
}

.resource-add {
  .textarea-bg {
    padding: 0 25rpx;
    width: 100%;
    margin-top: 25rpx;
    font-size: 30rpx;
    color: #999999;
  }

  textarea {
    height: 600rpx;
  }

  .picture-box {
    margin-top: 30rpx;
    padding: 0 25rpx;

    .upload {
      width: 205rpx;
      height: 205rpx;
      line-height: 205rpx;
      text-align: center;
      border: 1px solid #eee;
      margin-right: 30rpx;
      .img {
        width: 26rpx;
        height: 26rpx;
        display: inline-block;
      }
    }

    .picture {
      width: 205rpx;
      height: 205rpx;
      position: relative;
      margin-right: 30rpx;
      margin-bottom: 30rpx;

      .img {
        width: 100%;
        height: 100%;
      }

      .del-icon {
        position: absolute;
        top: -10rpx;
        right: -15rpx;
        width: 40rpx;
        height: 40rpx;
      }
    }
    .picture:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  .btn {
    position: fixed;
    bottom: 100rpx;
    right: 40rpx;
    image{
      width: 134rpx;
      height: 134rpx;
    }
  }
}
